
latitude="42.040257"
longitude="-87.6862397"

# See options at http://api.aladhan.com/v1/methods
prayer_method=13

call_fajr=false
call_dhuhr=true
call_asr=true
call_magrib=true
call_isha=true

debugging=true

# Action list:
#   cast: chromecast
#   command: execute script

# ACTION: <cast>
action=cast

# Use `python3 device-list.py` in order to find friendly name of chromecast device
cast_name="Living Room Display"

# ACTION: <command>
# action=command
# command_script="notify-send 'Ezan vakti!'"
